@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --color-primary: red;
    --font-inter: "Inter", sans-serif;
    --font-forum: "Forum", serif;
}

@layer components{
    body{
        @apply bg-[#000000]
    }
    .container {
        @apply !max-w-[1380px]
    }
    
}
/* bg-linear-[to-b #4b1f05, #401417, #2c111d, #180e18, #030303]; */

/*  */