@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --color-primary: red;
    --font-inter: "Inter", sans-serif;
    --font-forum: "Forum", serif;
}

@layer components{
    body{
        @apply bg-[#000000]
    }
    .container {
        @apply !max-w-[1380px]
    }
    
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}
